body {
  font-family: arial;
}

#top {
  height: 100vh;
  background-color: red;
}

#bottom {
  height: 100vh;
}

#navbar-column {
  background-color: black;
  margin: 0;
}

nav {
  background-color: black;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.navbar-list {
  margin-right: 100px;
  color: white;
}

.col-md-10 {
  background-color: black;
}

#start-button {
  background-color: green;
  width: 20%;
  height: 10%;
  margin-top: 30%;
  margin-left: 40%;
  /*display: none;*/
}

#decision-text {
  display: none;
  color: white;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 20px;
  margin: auto;
}

.choice-button-1 {
  display: none;
  width: 20%;
  height: 10%;
  float: none;
  margin-left: 20%;
  margin-top: 20%;
}

.choice-button-2 {
  display: none;
  width: 20%;
  height: 10%;
  float: none;
  margin-left: 20%;
}

.combat-roll-button {
  display: none;
  width: 20%;
  height: 10%;
  float: none;
  margin-left: 20%;
  background-color: red;
  color: black;
}

.combat-text {
  display: none;
  color: white;
  width: 20%;
}

.decision-button {
  display: inline-block;
  width: 20%;
  height: 10%;
  float: none;
  margin-left: 20%;

}
